body{
		font-family: "Trebuchet MS", sans-serif;
    	background: 100% 100% url("https://png.clipart.me/istock/previews/4571/45718534-seamless-texture-with-red-tic-tac-toe.jpg");
	}
   #game-krestiki-noliki{
      position: relative;
      width: 80%;
      font: 1em Arial,sans-serif;
  	  vertical-align: middle;
    }
    #game-krestiki-noliki .game{
     width: 350px;
     height: 350px;
     box-shadow: 0 0 3px #999;
     padding: 10px 90px 220px 90px;
     background: #F8CFFF;
     border-radius: 5px;
     float: center;
     
    }
    #game-krestiki-noliki .game .item,#game-krestiki-noliki .game span{
     width: 116px;
     height: 116px;
     outline: 1px solid #ccc;
     float: left;
     text-align: center;
     line-height: 116px;	 
     background: #fff;
     text-decoration: none;
     font-size:4em;
     color: #777;
     text-shadow: 1px 1px 2px #999;
    }
    #game-krestiki-noliki .win,#game-krestiki-noliki .lost{
     position: absolute;
     width: 90%;
     height: 120px;
     top:0;
     left:0;
     right:0;
     bottom:0;
     margin: auto;
     background-color: rgba(250,250,250,.6);
     box-shadow: 0 0 3px #999;
     border-radius: 2px;
     display: none
    }

    #game-krestiki-noliki .win h2,#game-krestiki-noliki .lost h2{
     text-align: center;
     color: #777;
    }
    #game-krestiki-noliki .intro{
     text-align: center;
    }
    #game-krestiki-noliki .intro a.next{
     font: 0.8em Arial,sans-serif;
     text-decoration: none;
     color: #eee;
     text-shadow: 1px 1px 1px #000;
     background-color: #60B355;
     border-radius: 2px;
     padding: 4px 10px;
     margin-bottom: 10px;
    }
     #game-krestiki-noliki a.close{
     position: absolute;
     right: 2px;
     top: 2px;
     padding: 2px 8px;	 
     background-color: #eee;
     text-shadow: 0px 0px 1px #fff;
     font: .8em Arial,sans-serif;
     text-decoration: none;
    }
    #game-krestiki-noliki a.close:hover{
     background-color: #dEdEdE;
     text-shadow: 0px 0px 2px #fff;
    }  